@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,200;0,300;0,400;0,600;1,400;1,600&display=swap');

$text-main: 'Jost', sans-serif;
$text-header: 'Jost', sans-serif;

$grey-100: #f8f4f1;
$grey-200: #bfbfbf;
$grey-300: #515151;
$grey-400: #141414;

$common-black: #0b0000;
$primary-color: #755847;
$secondary-color: #e1e2e1;
$success-color: #4b8b3b;
