/* Base */
@import './screens';
@import './variables';
@import './utils';
@import './typography';

/* Components  */
@import './components/container';
@import './components/main';
@import './components/menu';
@import './components/hamburger-button';
@import './components/forms';
@import './components/select';

/* WooCommerce */
@import './woocommerce/account';
@import './woocommerce/product-block';
@import './woocommerce/product-list-page';
@import './woocommerce/product-detail-page';
@import './woocommerce/notices';

/* Base stuff */
html {
  width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  margin-bottom: 20px;
}

#wpadminbar {
  z-index: 30;
}
