.woocommerce.single {
  & .content {
    padding-top: 20px;
    & .onsale {
      background-color: $common-black;
    }
    .summary {
      & .price,
      & .stock {
        color: $primary-color;
      }
      & .cart {
        display: flex;
        flex-direction: column;
        gap: 20px;
        & .quantity {
          /* Remove default num styling Chrome, Safari, Edge, Opera */
          & input::-webkit-outer-spin-button,
          & input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }

          /* Firefox */
          & input[type='number'] {
            -moz-appearance: textfield;
            appearance: textfield;
          }
          display: flex;
          justify-content: flex-start;
          width: 107px;
          border: 1px solid hsla(0, 0%, 7%, 0.11);
          border-radius: 4px;
          box-sizing: content-box;
          margin: 0 0 0.25em;
          position: relative;
          width: 107px;

          & input {
            all: unset;
            appearance: textfield;
            background: transparent;
            border: 0;
            box-shadow: none;
            color: currentColor;
            font-size: 1em;
            font-weight: 600;
            line-height: 1;
            margin: 0;
            min-width: 40px;
            padding: 0.4em 0;
            text-align: center;
            vertical-align: middle;
          }
          & button {
            background: none transparent;
            border: 0;
            box-shadow: none;
            color: currentColor;
            cursor: pointer;
            font-size: 1.1em;
            font-style: normal;
            font-weight: 400;
            margin: 0;
            min-width: 30px;
            opacity: 0.6;
            padding: 0;
            text-align: center;
            text-decoration: none;
          }
        }
      }
      button.button {
        float: none;
        background-color: $common-black;
        width: fit-content;
      }
    }
  }
  & .woocommerce-tabs {
    & .tabs {
      &::before {
        border-bottom: none !important;
      }
    }
  }
  & .products {
    & .price {
      & .amount {
        color: $primary-color;
      }
    }
  }
}
