.m_button {
  @include onlyTablet {
    display: none;
  }
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  position: fixed;
  z-index: 28;
  top: 10px;
  left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  background-color: $common-black;
  width: 35px;
  height: 35px;
  border-radius: 10px;
  box-shadow: -7px -7px 20px 0 #0001, -4px -4px 5px 0 #0001, 7px 7px 20px 0 #0002,
    4px 4px 5px 0 #0001, inset 0px 0px 0px 0px #0001, inset 0 0 0 0 #0001, inset 0 0 0 0 #0001,
    inset 0 0 0 0 #0001;
  transition: box-shadow 0.2s;
  span {
    background-color: white;
    box-shadow: 0 0 10px 0 rgba(240, 128, 128, 0.3);
    width: 20px;
    height: 2px;
    border-radius: 4px;
    margin: 2px 0 2px 0;
  }
  span:nth-child(2) {
    transform-origin: 50% 50%;
  }
}
