.main {
  display: flex;
}

.page .navigation,
.navigation,
#navigation .navigation {
  position: fixed;
  z-index: 20;
  height: 100%;
  left: 0;
  top: 0;
  width: 300px;
  background-color: $common-black;
  flex-shrink: 0;
  box-shadow: inset -10px 0 9px -7px $grey-400;

  &__header {
    width: 100%;
    &__logo {
      height: 150px;
      max-width: 80%;
    }
  }
  @include Tablet {
    width: 250px;
  }
  @include Mobile {
    width: 100%;
    left: -100%;
    z-index: 30;
  }
}

.content {
  position: relative;
  width: calc(100% - 300px);
  margin-left: auto;
  box-sizing: border-box;
  z-index: 25;
  @include Tablet {
    width: calc(100% - 250px);
  }
  @include Mobile {
    width: 100%;
  }
  & > section {
    padding: 20px 40px;
    @include Mobile {
      padding: 20px 20px;
    }
    &:first-of-type {
      padding: 0;
    }
  }
}
