.navigation {
  &__body {
    height: calc(100vh - 160px);
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    @include Tablet {
      height: calc(100vh - 220px);
    }
    &::-webkit-scrollbar {
      display: none;
    }
    &__items {
      list-style-type: none;
      margin: 0;
      padding: 0;
      & li {
        border-top-style: solid;
        border-top-color: $grey-200;
        border-top-width: 1px;
        &.project {
          background-color: $secondary-color;
          & a {
            color: $common-black;
          }
        }
        & a {
          color: white;
          display: flex;
          text-decoration: none;
          padding: 0 20px;
          box-sizing: border-box;
          height: 80px;
          width: 100%;
          align-items: center;
        }
        & .progress-bar {
          position: absolute;
          height: 0;
          width: 0;
          left: 0;
          background: white;
        }
      }
    }
  }
}

.m_close {
  @include onlyTablet {
    display: none;
  }
  position: absolute;
  right: 15px;
  top: 15px;
  width: 30px;
  height: 30px;
  &:before,
  &:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 100%;
    width: 2px;
    background-color: white;
    opacity: 0.9;
  }
  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }
}
